
td.key_name {
    width: 10%;
}


td.key, th.key {
    width: 75%;
}

td.key > input {
    width: 95%;

}


td.mount  {
    margin-left: 10px;

}

td.status > span {
	display: inline-block;
	height: 16px;
	width: 16px;
	vertical-align: text-bottom;
}
span.success {
	background: #37ce02;
	border-radius: 8px;
}
span.error {
	background: #ce3702;
}

span.none {
	background: gray;
}


td.remove>img { visibility:hidden; padding-top:0.8em; }
tr:hover>td.remove>img { visibility:visible; cursor:pointer; }
